<%- include('../shared/header.ejs') %>
    <h1>Delete Team</h1>


    <form id="deleteTeam">
        <label for="id">Team id:</label><br>
        <input required="required" type="text" id="id" name="id"><br>


        <br>
        <button type="submit">Delete</button>
    </form>


    <script src="js/deleteTeam.js"></script>
    <%- include('../shared/footer.ejs') %>