<%- include('../shared/header.ejs') %>
    <h1>View Team</h1>


    <form id="deleteTeam">
        <label for="id">Team id:</label><br>
        <input required="required" type="text" id="id" name="id"><br>


        <br>
        <button type="submit">View</button>
    </form>

    <div id="messages">
        <code id="message-text"></code>
    </div>


    <script src="js/viewTeam.js"></script>
    <%- include('../shared/footer.ejs') %>